@model P1_FloricelaArguedas_WebAppJHH.Models.Maquinaria

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminación de Maquinaria</h1>

<h3>Esta seguro que desea eliminar esta maquinaria?</h3>
<div>
    <h4>Maquinaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasUsoActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasUsoActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasUsoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasUsoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMantenimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="ELIMINAR MAQUINARIA" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
