@model P1_FloricelaArguedas_WebAppJHH.Models.Cliente

@{
    ViewData["Title"] = "Search";
}

<h1>Buscar Cliente</h1>

<form asp-action="Search">

    <div class="form-group">
        <label asp-for="Id" class="control-label">Escriba el ID del cliente a buscar:</label>
        <input asp-for="Id" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar Cliente" class="btn btn-success" />
    </div>

</form>

<div>
    <h4>Cliente Encontrado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionExacta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionExacta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MantenimientoInvierno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MantenimientoInvierno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MantenimientoVerano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MantenimientoVerano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
