@model P1_FloricelaArguedas_WebAppJHH.Models.Mantenimiento

@{
    ViewData["Title"] = "Search";
}

<h1>BUSCAR MANTENIMIENTOS</h1>

<form asp-action="Search">

    <div class="form-group">
        <label asp-for="IdMantenimiento" class="control-label">Escriba el ID del mantenimiento a buscar:</label>
        <input asp-for="IdMantenimiento" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar Mantenimiento" class="btn btn-success" />
    </div>

</form>

<div>
    <h4>Mantenimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEjecutado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEjecutado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAgendado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAgendado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.m2Propiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.m2Propiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.m2CercaViva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.m2CercaViva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasSinChapia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasSinChapia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSiguienteChapia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSiguienteChapia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoZacate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoZacate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoAplicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoAplicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProductoAplicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProductoAplicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoChapiaM2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoChapiaM2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoProductoM2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoProductoM2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotalMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotalMantenimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
