@model IEnumerable<P1_FloricelaArguedas_WebAppJHH.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>EMPLEADOS</h1>

<p>
    <a asp-action="Create">Crear Nuevo Empleado</a>
</p>
<p>
    <a asp-action="Search">Buscar Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lateralidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioxHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lateralidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioxHora)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
