@model P1_FloricelaArguedas_WebAppJHH.Models.Empleado

@{
    ViewData["Title"] = "Search";
}

<h1>Buscar Empleado</h1>

<form asp-action="Search">

    <div class="form-group">
        <label asp-for="Cedula" class="control-label">Escriba la identificación del empleado a buscar:</label>
        <input asp-for="Cedula" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Buscar Empleado" class="btn btn-success" />
    </div>

</form>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lateralidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lateralidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioxHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioxHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
